.eggs/
*.egg-info
my-env/
.env/
.ignored/
.vscode/

# Python build artifacts
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.pybuild/
dist/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor & OS junk
.DS_Store
*.swp

# Debian packaging
.pybuild/
debian/
*.changes
*.buildinfo
